In [2]:
my_list = [1,2,3,4,5]

In [3]:
for number in my_list:
    print("kere")

kere
kere
kere
kere
kere

In [4]:
for number in my_list:
    print(number)

1
2
3
4
5

In [5]:
for item in my_list:
    new_number = item * 5
    print(new_number)

5
10
15
20
25

In [13]:
for item2 in my_list:
    new_number2 = item2 * 50
    print(new_number2)

50
100
150
200
250

In [14]:
for number in my_list:
    if number % 2 == 0:
        print(number)

2
4

In [17]:
if 2 in my_list:
    print("true")
else:
    print("false")

true

In [20]:
for num in my_list:
    if num == 2:
        print("True")

True

In [21]:
my_string = "James Hetfield"

In [29]:
my_string [0]

'J'

In [30]:
for letter in my_string:
    print(letter)

J
a
m
e
s

H
e
t
f
i
e
l
d

In [31]:
my_tuple = (1,2,3)

In [32]:
type(my_tuple)

tuple

In [37]:
for item in my_tuple:
    print(item*5-10+30)

25
30
35

In [41]:
my_new_list = [("a","b"),("c","d"),("e","f"),("g","h")]

In [42]:
for element in my_new_list:
    print(element)

('a', 'b')
('c', 'd')
('e', 'f')
('g', 'h')

In [48]:
for (x,y) in my_new_list:
    print((x,y))

('a', 'b')
('c', 'd')
('e', 'f')
('g', 'h')

In [50]:
for element,banana in my_new_list:
    print((element,banana))

('a', 'b')
('c', 'd')
('e', 'f')
('g', 'h')

In [51]:
for element,banana in my_new_list:
    print((banana))

b
d
f
h

In [52]:
for x,y in my_new_list:
    print(x)
    print(y)

a
b
c
d
e
f
g
h

In [53]:
my_tuple_list = [(0,1,2,),(3,4,5),(9,10,11)]

In [54]:
type(my_tuple_list)

list

In [55]:
for x,y,z in my_tuple_list:
    print(x)

0
3
9

In [56]:
for x,y,z in my_tuple_list:
    print(y)
    print(z)

1
2
4
5
10
11

In [57]:
for x,y,z in my_tuple_list:
    print(y)

1
4
10

In [61]:
my_dictionary = {"key1":100,"key2":200,"key3":300}

In [62]:
for x,y in my_dictionary.items():
    print(x)

key1
key2
key3

In [64]:
for key,value in my_dictionary.items():
    print(value)

100
200
300